{%extends "base.html"%}

{%block content%}
	<h1>Sing In</h1>
	<form action="" method="post">
    {{form.hidden_tag() }}
    <!--Аргумент шаблона form.hidden_tag() создает скрытое поле,
    включающее токен, который используется для защиты формы от CSRF атак.
    Все, что нужно сделать для того, чтобы защищенная форма включала это
    скрытое поле и иметь переменную SECRET_KEY, определенную в конфигурации
    Flask. Если вы заботитесь о этих двух вещах, Flask-WTF делает остальное
    за вас.-->
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size = 32) }}<br>
      {%for error in form.username.errors%}
      <span style="color: red;">[{{error}}]</span>
      {%endfor%}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size = 32) }}<br>
      {%for error in form.password.errors%}
      <span style="color: red;">[{{error}}]</span>
      {%endfor%}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{form.submit() }}</p>
  </form>
{%endblock%}
